*{
    box-sizing: border-box;  
}

body{
    background-color: #f8f8f8;  
}
main{
    margin: 64 0 150 150;
    width: 750px;
    background-color: wheat;
}

h1{
    text-align : center; 
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    margin: 0px 20px 20px 20px;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%
    

}
.search_container{
    
    border-radius: 5px;
    width: 60%;
    background-color: wheat;

}

.login_container{
    
    border-radius: 5px;
    background-color: wheat;
    width: 30%;
}

footer{
    background-color:wheat;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%

}