*{
    box-sizing: border-box;  
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white ;
    border-radius: 5px;
    border-bottom: solid 1px ;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    

}

body{
    background-color: #f8f8f8;  
}
main{
    margin: 54 auto;
    width: 750px;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    
}
.main_top{
    position: relative;
}

.atag_new{
    position:absolute;
    right: 0;
}
h3{
    text-align : center; 
}

a.logo{
    background-image: url(../img/gongcha.svg);
    margin: 0 auto;
    width: 100px;
}

.blank{
    width: 200px;
}
.search_form{
    width: 400px;

}
.login_container{
    
    border-radius: 5px;
    background-color: #fff;
    width: 30%;
}

footer{
    background-color: white;
    height: 7%;
    position: fixed;
    bottom: 0;
    width: 100%;
}