{% extends 'base.html' %}

{% block content %}
<div class="detail_form">
    <h2>{{post.title}}</h2> <br><br>
    작성자: {{post.author.user}} <br><br>
    모집 인원: {{post.limit}} <br><br>
{{post.body}} <br><br>
</div>

<a href="{%url 'home' %}" class="btn btn-outline-success mr-3">home</a>

{% if post.author.user == user %}
<a href="{%url 'edit' index=post.pk%}" class="btn btn-outline-success mr-3">edit</a>

<a href="{%url 'delete' pk=post.pk%}" class="btn btn-outline-success mr-3">delete</a>
{% endif %} 


<hr>

<div >공구 참여자 수 : {{post.like_count}}/{{post.limit }}</div>

<p>
    참여자: <br>    
    {% for u in post.like_users.all %}
        <b>-{{u.user}}</b><br>
    {% endfor %}
</p>
{% if user.is_authenticated %}
<a href="{% url 'post_like_toggle' post.pk %}" class="btn btn-outline-success mr-5">
    {% if post in user.profile.like_posts.all %}
        취소
    {% elif post.like_count >= post.limit%}
        모집 완료
    {% else %}
        공구 참여하기
    {% endif %}
</a>
{% endif %}
</a>
{% if post in user.profile.like_posts.all %}
    <a href="{%url 'index' %}" class="btn btn-outline-success mr-3">채팅방 입장</a>
{% endif %}


{% endblock %}


