{% extends 'base.html' %}

{% block content %}
{post.title}} <br><br>
{{post.author}} <br>
{모집 인원}} <br><br>
{comment}} <br><br>

<a href="{%url 'home' %}" class="btn btn-outline-success mr-3">home</a>

{% if post.author == user %}
<a href="{%url 'edit' index=post.pk%}" class="btn btn-outline-success mr-3">edit</a>

<a href="{%url 'delete' pk=post.pk%}" class="btn btn-outline-success mr-3">delete</a>
{% endif %} 


<hr>


{% endblock %}

<!-- <h1>DIARY DETAIL</h1>

<div>
    {% if post.pub_date %}
        <div>
            {{post.pub_date}}
        </div>
    {%endif%}
    <h1>{{post.title}}</h1>
    <p>작성자: {{post.author}}</p>
    <p>{{post.body|linebreaks}}</p>
</div>
 -->