{% extends 'base.html' %}

{% block content %}
{post.title}} <br><br>
{모집 인원}} <br><br>
{comment}} <br><br>



<a href="{%url 'home' %}">home</a>
<a href="{%url 'edit' index=post.pk%}">edit</a>

<a href="{%url 'delete' pk=post.pk%}">delete</a>
<hr>

<div>공구 참여자 수 : {{post.like_count}}</div>

<a href="{% url 'post_like_toggle' post.pk %}">
    {% if post in user.profile.like_posts.all %}
        취소
    {% else %}
        공구 참여하기
    {% endif %}
</a>


{% endblock %}



<!-- <h1>DIARY DETAIL</h1>

<div>
    {% if post.pub_date %}
        <div>
            {{post.pub_date}}
        </div>
    {%endif%}
    <h1>{{post.title}}</h1>
    <p>작성자: {{post.author}}</p>
    <p>{{post.body|linebreaks}}</p>
</div>
 -->